@import './src/style/_vars.scss';

.team {
  h5 {
    text-align: center;
    padding: $pad;
  }
  div {
    width: calc(90%/2);
  }
  p {
    text-align: left;
    float: left;
    margin-left: 2em;
    width: calc(100%/2);
  }
  img {
    float: left;
    margin-left: 2em;
    margin-top: 3em;
    width:200px;
    border-radius: 360px;
  }
}
