@import "vars";
* {
  position: static;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;

  font-family: $font-primary;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  white-space: normal;


  background: none;
  color: $color-black;

  list-style: none;
}

form *:focus {
  border: none;
  outline: none;
}

label {
  text-decoration: none;
  font-style: normal;
}
